@charset "UTF-8";

body {
    background-color: rgb(225, 209, 182);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: rgb(103, 48, 9);
}

h2 {
    color: sienna;
}

p {
    text-align:left;
}
